/* Tablet */
@media screen and (max-width: 780px) {
  .fa-user {
    display: inline;
  }

  .login {
    display: none;
  }

  .nav-item {
    border-right: none;
  }

  .nav-item a {
    font-size: 0.9rem;
  }

  .nav-middle .navbar-item a {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1000px) {
  .left-section h5,
  .nav-middle,
  .nav-bottom {
    display: none;
  }

  .nav-link {
    padding: 0.3rem 0.5rem;
  }

  .fa-bars {
    display: inline-block;
  }
}

@media screen and (max-width: 1200px) {
  .subscribe {
    margin-right: 1rem;
  }

  .subscribe a {
    color: black;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
  }

  .middle-section img {
    height: 40px;
    width: 200px;
    position: absolute;
    top: 7px;
    left: 0;
  }

  .nav-link {
    padding: 0.1rem 0.4rem;
    font-size: 0.8rem;
  }
  .trending {
    font-size: 0.8rem;
  }
  .nav-top {
    height: 50px;
  }
}
