@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

:root {
  --red: #ec521e;
  --gray: #666;
  --blue: #3581f4;
  --white: #fff;
}

ul > li > a {
  color: #666;
}

a:hover {
  color: #000;
  text-decoration-color: red;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.fa-bars,
.fa-user {
  color: rgba(255, 255, 255, 0.6);

  width: 40px;
  display: none;

}

.nav-top {
  display: flex;
  justify-content: space-between;
  height: 5.5rem;
  background: var(--red);
  color: var(--white);
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

.fa-user {
  color: rgba(255, 255, 255, 0.6);
}

.left-section h5 {
  font-size: 1rem;
  font-weight: 300;

}

.login {
  color: var(--white);
  text-transform: uppercase;
  font-weight: 600;
}


.subscribe {
  width: 150px;
  padding: 0.3rem 0.7rem;

  border-radius: 20px;
  background: #ffe41b;
  border: none;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
}

.dl,
ol,
ul {
  margin-bottom: 0;
}

.nav-middle ul,
.nav-bottom {
  display: flex;
  padding: 0 0.5rem;
  height: 3rem;
  border-bottom: 1px solid rgb(233, 228, 228);
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}

ul > li > a {
  color: #666;
}

.navbar-item a {
  color: black;
  font-size: 0.5rem;
  font-weight: bold;
}

.middle-section-card-p a {
  color: black;
  font-size: 12px;
}


.navbar-item a:hover {
  color: var(--red);
}

.nav-link {
  display: inline;
  padding: 0.3rem 0.5rem;
  font-weight: 700;
}

.nav-middle .navbar-item a {
  border-right: 1px solid rgb(233, 228, 228);
  font-size: 1rem;
}

.nav-middle > .navbar-item-search a {
  color: rgb(161, 159, 159);
  font-size: 0.7rem;
}


.trending {
  color: black;
  font-weight: 500;
  font-size: 1rem;
}

/* FOOTER */

.foot-center,
.foot-bottom,
.nav-link {
  color: #666;
  font-size: 1rem;
}

.container-footer {
  border-bottom: 1px solid rgba(235, 231, 231, 0.63);
  padding: 1rem 2rem;
}

/* main */

.main {
  height: 400px;
}

/* featured story */

img {
  width: 100%;
}

.text-dark-heading {
  color: #000;
}

.featured-caption {
  position: relative;
  width: auto;
  bottom: 27px;
  display: inline;
  background: rgba(255, 255, 255, 0.51);
  color: var(--red);
}

.featured-item-border {
  border: 1px solid rgb(201, 199, 199);
}

/* Middle section */

.column2-middle-section,
.more-stories p {
  font-size: 12px;
  font-weight: 700;
  color: rgb(77, 76, 76);
}


.middle-section-card img {
  width: 90px;
  height: 80px;
  display: block;
}

.more-stories-row {
  border-top: 1px solid rgba(179, 177, 177, 0.603);
  padding: 0.5rem 0;

.foot-center {
  border-top: 0.2px solid rgb(161, 160, 160, 0.6);
  padding: 0 1.5rem;
  padding-top: 1rem;
}

.nav-item {
  border-right: 0.2px solid rgb(161, 160, 160, 0.6);

}

/* right section */
.debate-border-b {
  border-bottom: 2px solid rgb(161, 160, 160, 1);
  padding: 0.5rem;
}

/* FOOTER */

.foot-top img {
  width: 10rem;
  height: 5rem;
  padding: 0;
  margin: 0;
}

.foot-center {
  border-top: 0.2px solid rgb(161, 160, 160, 0.6);
  padding: 0 1.5rem;
  padding-top: 1rem;
}

.nav-item {
  border-right: 0.2px solid rgb(161, 160, 160, 0.6);

.foot-bottom {
  padding: 0 1rem;
}

/* main */

.main {
  height: 400px;

}
